<%= form_for(@flirt) do |f| %>
  <div class="col-md-10">
    <%= f.text_field :quote, placeholder: "Add A flirt message", class: "form-control search-box input-lg" %>
  </div>
  <div class="col-md-2">
    <%= f.submit "Add", class: "btn btn-warning" %>
  </div>
<% end %>
