<h1 style="text-align: center; color: red;">Its Cuffing Season. Get A Boo With These Quotes</h1>
<br>
<br>
<div id="spinner" class="row col-md-12 spinner" style="display: none; text-align:center">
  <h5><i class="fa fa-circle-o-notch fa-spin fa-2x" aria-hidden="true"></i>Loading...</h5>
</div>

<div class="container">
  <div class="well" id="flirt-quote">
    <% if @quote %>
    <p id="quote">
      <%= @quote.quote %>
    </p>
    <% end %>
  </div>
  <div class="" id="giphy-div">
    <% @flirt_giphy.embed_url.to_s %>
    <% pic = @flirt_giphy.embed_url.to_s %>
    <% pic = pic.split("http://")[1] %>
    <% pic = pic.to_s.prepend("https://") %>
    <iframe src="<%= pic %>" width="" height="" id="giphy"></iframe>
  </div>
  <div class="" id="button">
    <%= link_to "Flirt!", search_path, class: "btn btn-success btn-lg", id: "flirt" %>
  </div>
  <div class="form-group row no-padding text-center col-md-12" id="add_quote">
    <%= render 'flirts/new' %>
  </div>
</div>
